@CHARSET "US-ASCII";

body
{
  /* font-family: 'Finger Paint', cursive; */
  padding-left: 80px;
  padding-right: 80px;
}

.main-content
{
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 100px;
}

.editor-timestamp
{
  width: 100px;
}

.editor-timestamp-capsule
{
  text-align: right;
}

.editor-left
{
  float: left;
}

.editor-right
{
  float: left;
  margin-left: 20px;
}

.editor-right-bottom
{
  margin-top: 10px;
  margin-left: 20px;
}

.editor-shareselect-head
{
  padding-bottom: 10px;
}

input.check
{
  margin: 0px;
}

.editor-title,.editor-corpus
{
  /* font-family: 'Finger Paint', cursive; */
}

.editor-title
{
  width: 400px;
  margin: 0px;
}

.editor-corpus
{
  width: 400px;
  height: 150px;
  margin-bottom: 15px;
}

.poetry-container
{
  margin-bottom: 50px;
}

.poetry-editor .headline, .poetry-container-entry-delete-click
{
  cursor: pointer;
}

.btn-form
{
  /* font-family: 'Finger Paint', cursive; */
  margin-left: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.headline
{
  font-size: 25px;
  font-style: italic;
}

hr
{
  margin-top: 3px;
}

.poetry-container-content
{
  padding-left: 50px;
  padding-right: 50px;
}

.poetry-container-entry-head
{
  font-size: 20px;
  padding-bottom: 10px;
}

.poetry-container-entry-content
{
  
}

.poetry-container-entry-foot
{
  height: 20px;
  margin-bottom: 50px;
  font-style: italic;
  font-size: 10px;
}

.poetry-container-entry-foot-left, .poetry-container-entry-foot-right
{
  float: left;
  width: 300px;
}